extends layout

block content
  head
    title Books
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body.frontpage
    h1.title Aaron and Company
    p
      a.button(href='books/new') Create New Book
    table
      thead
        tr.column
          th Title
          th Author
          th Genre
          th Year
      tbody
        each Book in books
          Book
            tr.columnList
              td
                a(href='books/' + Book.id)= Book.title
              td= Book.author
              td= Book.genre
              td= Book.year