extends layout.pug

block content
  head
    title 404 Page Not Found
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body.error
    nav.nav
      a(href='/')
        span &larr;
        |  Click here to go back
    h1 Hmmm, something's wrong here
    h2= err.message

  